/* 
	Style de la page
*/


/* 
	Configuration générale // remise à zéro du style de base
*/

	* { margin : 0; padding: 0; }

	html { font-size: 62.5%; }

	body { font-size: 1.5rem; }

	ul {
		list-style: none;
	}

	a {
		text-decoration: none;
	}

	h1 {
		font-weight: normal;
	}


/* Fin de la configuration générale */

/*
	Nav
 */
 	nav a {
 		text-transform: uppercase;
 	}

