@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');

/* 
RESET ---------------------------------------------------------------------------
*/

	* { 
		margin : 0; padding: 0;
	}

	html {
		font-size: 62.5%;
	}

	body {
		font-size: 1.5rem;
		background-color: black;
		font-family: 'Roboto', sans-serif;
		text-align: center;
	}

	main {
		color: white;
	}

	ul, li {
		display: inline-block;
	}

	ul {
		list-style: none;
	}

	li {

	}

	a {
		text-decoration: none;
		color: white;
	}

	h1, h2 {
		font-weight: 100;
	}

	h2, h3 {
		text-align: center;
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 3rem;
		padding-top: 2rem;
	}

	h3 {
		font-size: 2.4rem;
		font-weight: 500;
	}

	h4 {
		font-style: normal;
	}

	div {
		width: 100%;
		margin: 0 auto 0 auto;
		min-height: 40rem;
	}

	p {
 		font-size: 1.7rem;
 		font-weight: 300;
    	font-style: normal;
    	line-height: 2.2rem;
	}

	.fa {
		display: block;
		text-align: center;
	}

/* 
FIN DU RESET ----------------------------------------------------------------------
*/



/*
CSS 1 : VUE MOBILE JUSQU'A 500 px  ------------------------------------------------
*/



/*
NAVIGATION
 */

 	#logo {
 		display: block;
 		margin-left: .5rem;
 		margin-top: 1rem;
 	}

 	nav a {
 		text-transform: uppercase;
 		display: none;
 	}

 	h1 a span {
 		font-weight: bolder;
 	}

/*
SECTIONS
 */

 	section {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	section aside {
		font-size: 1.7rem;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
		padding: 0 1rem 0 1rem;
		margin-bottom: 4.5rem;
	}

	section p {
		margin-bottom: 8rem;
	}

/*
ACCROCHE HEAD
 */

 	#accroche {
 		background-image: url('../images/photo-01.jpg');
	    background-repeat: no-repeat;
	    background-attachment: scroll;
	    background-size: cover
 	}
 	
 	#accroche section {
 		padding-top: 1rem;
 	}	

 	#accroche h2 {
 		font-size: 2.8rem;
 		font-weight: 100;
 	}

 	#accroche p {
 		font-size: 1.5rem;
		font-weight: 300;
		line-height: 1.9rem;
 		max-width: 80%;
 		margin-top:	19rem;
 		margin-left: auto;
 		margin-right: auto;
 		margin-bottom: none;
 	}



/*
INTERTITRES
 */
 	.intertitre, #accroche {
 		height: 45rem;
 	}

 	.intertitre h2 {
 	   	padding-top: 8rem;
    	margin-bottom: 2rem;
 	}

 	#intertitre_01 {
 		background-image: url('../images/photo-02.jpg');
		background-repeat: no-repeat;
 		background-attachment: scroll;
 		background-size: cover;
/*		background-position: center;*/

 	}

 	#intertitre_02 {
 		background-image: url('../images/photo-03.jpg');
		background-repeat: no-repeat;
 		background-attachment: scroll;
 		background-size: cover;
 	}

 	#intertitre_03 {
 		background-image: url('../images/photo-04.jpg');
	    background-repeat: no-repeat;
	    background-attachment: scroll;
	    background-size: cover
 	}

 	#intertitre_04 {
 		background-image: url('../images/photo-05.jpg');
	    background-repeat: no-repeat;
	    background-attachment: scroll;
	    background-size: cover
 	}

 	#intertitre_05 {
 		background-image: url('../images/photo-06.jpg');
	    background-repeat: no-repeat;
	    background-attachment: scroll;
	    background-size: cover
 	}



/*
SECTION 1 - EXPERTISES
*/

 	#expertises {
 		background-color: #FF9900;
 	}
 	#expertises h2 {
 		margin-bottom: 1rem;
 	}

 	#expertises article {
 	    display: inline-block;
 	    vertical-align: top;
 	    width: 25rem;
    	margin-left: auto;
    	margin-right: auto;
 	}

 	#expertises .fa {
 	    font-size: 5rem;
 	    margin-top: 1.5rem;
 	    margin-bottom: .5rem;
 	}




/*
SECT2 - REALISATIONS
*/
 
 	#realisations {
 		background-color: #841E40;
 	}


/*
SECT3 - CHEF DE PROJET
*/
 
 	#chefDeProjet {
 		background-color: #44A5AC;

 	}

 	/* partie à revoir pour exclure le premier article */

 	/*#chefDeProjet section article:not(#chefDeProjet section article:first-of-type ) {
 	    display: inline-block;
 	    vertical-align: top;
 	    width: 15rem;
 	    margin: 1rem;
 	}*/

 	#chefDeProjet section {
 		padding-bottom:5rem;
 	}

 	#chefDeProjet h2 {
 		line-height: 3.2rem;
    	margin-bottom: 2.1rem;
 	}

 	#chefDeProjet span {
 		display: inline-block;
 		margin-right: 1rem;
 	}

 	#chefDeProjet li {
 		padding: 1rem;
 		width: 11rem;
 		vertical-align: top;
 	}

	#chefDeProjet li .fa {
	    display: inline-block;
	    font-size: 2rem;
	    margin-top: 1.5rem;
	    margin-bottom: .5rem;
	    background-color: #31787d;
	    border-radius: 50%;
	    height: 2.6rem;
	    width: 2.6rem;
	    padding-top: 1rem;
	    padding-left: 0.6rem;
	    padding-right: 0.4rem;
	}
 	#chefDeProjet li span {
 		display: block;
 		font-size: 2.5rem;
 	}


 	#chefDeProjet li p {
 		font-size: 1.5rem;
 		line-height: 1.9rem;
 	}

 	#chefDeProjet p {
 	 	margin-bottom: 5rem;
 	}

 	#chefDeProjet .fa {
		font-size: 3rem;
	    margin-top: 1.5rem;
	    margin-bottom: .5rem;
	    background-color: #296367;
	    border-radius: 50%;
	    height: 4.4rem;
	    width: 4.4rem;
	    padding-top: 1.5rem;
	    padding-left: 0.7rem;
	    padding-right: 0.7rem;
	}

	#chefDeProjet article {
		padding-right: 4rem;
		padding-left: 4rem;
	}

	#chefDeProjet article:last-of-type {
		padding-right: 0;
		padding-left: 0;

	}


/*
SECT4 - CLIENTS
*/
 
 	#clients {
 		background-color: #486477
 	}

 	#clients section {
 		padding-bottom:5rem;
 	}

 	#clients article {
 		margin: auto;
 	}

 	#clients img {
 		width: 10rem;
 		margin: 1rem;
 	}


 
/*
SECT5 - SOLUTIONS
*/
 

 	#solutions {
 		background-color: #46A1D6;
 	}

 	#solutions section {
    padding-bottom: 5rem;
}

	#solutions article {
 		margin: auto;
 	}

 	#solutions img {
 		width: 10rem;
 		margin: 1rem;
 		background-color: #27709a;
 	}

/*
SECT6 - CONTACT
*/


 	#contact {
 		background-color: #232323;
 	}

 	#contact form {
 		display: inline-block;
 		/*width: 50%;*/
 	}

 	#contact article {
 		display: inline-block;
 		right: 0rem;
 		/*width: 20%*/
 	}


/*-----------------------------------------------------------------------------*/
/* CSS PARTIE 2 : VUE FULL SCREEN SUPERIEURE A 500 px
/*-----------------------------------------------------------------------------*/


/*
MEDIA QUERIES DE 500px à 1100px
*/

@media screen and (min-width: 500px) {

	html {
		font-size: 62.5%;
	}
  	
  	section {
  		max-width: 110rem;
  		margin: auto;
  	}

/*
NAVIGATION
 */

 	#logo {
 		position: absolute;
 		display: block;
 		margin-left: 1rem;
 		margin-top: 1.2rem;
 	}

 	nav {
 		padding-top: 2rem;
    	padding-bottom: 2rem;
    	margin-right: 0;
 	}

 	nav a {
 		text-transform: uppercase;
 		display: inline-block;
 		padding-right: 2.2rem;
 		font-size: 1.3rem;
 	}

 	h1 a span {
 		font-weight: bolder;
 	}

/*
SECTIONS
 */

 	section {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	section aside {
		font-size: 1.7rem;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
		padding: 0 1rem 0 1rem;
		margin-bottom: 4.5rem;
	}

	section p {
		margin-bottom: 8rem;
	}

/*
ACCROCHE HEAD
 */

 	#accroche {
 		background-image: url('../images/photo-01.jpg');
	    background-repeat: no-repeat;
	    background-attachment: scroll;
	    background-size: cover
 	}
 	
 	#accroche section {
 		padding-top: 1rem;
 	}	

 	#accroche h2 {
 		font-size: 2.8rem;
 		font-weight: 100;
 	}

 	#accroche p {
 		font-size: 1.5rem;
		font-weight: 300;
		line-height: 1.9rem;
 		max-width: 80%;
 		margin-top:	10rem;
 		margin-left: auto;
 		margin-right: auto;
 		margin-bottom: none;
 	}



/*
INTERTITRES
 */
 	.intertitre, #accroche {
 		height: 45rem;
 	}

 	.intertitre h2 {
 	   	padding-top: 8rem;
    	margin-bottom: 2rem;
 	}

 	#intertitre_01 {
 		background-image: url('../images/photo-02.jpg');
		background-repeat: no-repeat;
 		background-attachment: scroll;
 		background-size: cover;
/*		background-position: center;*/

 	}

 	#intertitre_02 {
 		background-image: url('../images/photo-03.jpg');
		background-repeat: no-repeat;
 		background-attachment: scroll;
 		background-size: cover;
 	}

 	#intertitre_03 {
 		background-image: url('../images/photo-04.jpg');
	    background-repeat: no-repeat;
	    background-attachment: scroll;
	    background-size: cover
 	}

 	#intertitre_04 {
 		background-image: url('../images/photo-05.jpg');
	    background-repeat: no-repeat;
	    background-attachment: scroll;
	    background-size: cover
 	}

 	#intertitre_05 {
 		background-image: url('../images/photo-06.jpg');
	    background-repeat: no-repeat;
	    background-attachment: scroll;
	    background-size: cover
 	}



/*
SECTION 1 - EXPERTISES
*/

 	#expertises {
 		background-color: #FF9900;
 	}
 	#expertises h2 {
 		margin-bottom: 1rem;
 	}

 	#expertises article {
 	    display: inline-block;
 	    vertical-align: top;
 	    width: 25rem;
    	margin-left: auto;
    	margin-right: auto;
 	}

 	#expertises .fa {
 	    font-size: 5rem;
 	    margin-top: 1.5rem;
 	    margin-bottom: .5rem;
 	}




/*
SECT2 - REALISATIONS
*/
 
 	#realisations {
 		background-color: #841E40;
 	}


/*
SECT3 - CHEF DE PROJET
*/
 
 	#chefDeProjet {
 		background-color: #44A5AC;

 	}

 	/* partie à revoir pour exclure le premier article */

 	/*#chefDeProjet section article:not(#chefDeProjet section article:first-of-type ) {
 	    display: inline-block;
 	    vertical-align: top;
 	    width: 15rem;
 	    margin: 1rem;
 	}*/

 	#chefDeProjet section {
 		padding-bottom:5rem;
 	}

 	#chefDeProjet h2 {
 		line-height: 3.2rem;
    	margin-bottom: 2.1rem;
 	}

 	#chefDeProjet span {
 		display: inline-block;
 		margin-right: 1rem;
 	}

 	#chefDeProjet li {
 		padding: 1rem;
 		width: 11rem;
 		vertical-align: top;
 	}

	#chefDeProjet li .fa {
	    display: inline-block;
	    font-size: 2rem;
	    margin-top: 1.5rem;
	    margin-bottom: .5rem;
	    background-color: #31787d;
	    border-radius: 50%;
	    height: 2.6rem;
	    width: 2.6rem;
	    padding-top: 1rem;
	    padding-left: 0.6rem;
	    padding-right: 0.4rem;
	}
 	#chefDeProjet li span {
 		display: block;
 		font-size: 2.5rem;
 	}


 	#chefDeProjet li p {
 		font-size: 1.5rem;
 		line-height: 1.9rem;
 	}

 	#chefDeProjet p {
 	 	margin-bottom: 5rem;
 	}

 	#chefDeProjet .fa {
		font-size: 3rem;
	    margin-top: 1.5rem;
	    margin-bottom: .5rem;
	    background-color: #296367;
	    border-radius: 50%;
	    height: 4.4rem;
	    width: 4.4rem;
	    padding-top: 1.5rem;
	    padding-left: 0.7rem;
	    padding-right: 0.7rem;
	}

	#chefDeProjet article {
		padding-right: 4rem;
		padding-left: 4rem;
	}

	#chefDeProjet article:last-of-type {
		padding-right: 0;
		padding-left: 0;

	}


/*
SECT4 - CLIENTS
*/
 
 	#clients {
 		background-color: #486477
 	}

 	#clients section {
 		padding-bottom:5rem;
 	}

 	#clients article {
 		margin: auto;
 	}

 	#clients img {
 		width: 10rem;
 		margin: 1rem;
 	}


 
/*
SECT5 - SOLUTIONS
*/
 

 	#solutions {
 		background-color: #46A1D6;
 	}

 	#solutions section {
    padding-bottom: 5rem;
}

	#solutions article {
 		margin: auto;
 	}

 	#solutions img {
 		width: 10rem;
 		margin: 1rem;
 		background-color: #27709a;
 	}

/*
SECT6 - CONTACT
*/


 	#contact {
 		background-color: #232323;
 	}

 	#contact form {
 		display: inline-block;
 		/*width: 50%;*/
 	}

 	#contact article {
 		display: inline-block;
 		right: 0rem;
 		/*width: 20%*/
 	}


}
 

/*
MEDIA QUERIES AU-DELA DE 1100px
*/